#dockeditempanel .dockeditempanel_content {
    background-color: #f5f5f5;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: none;
    width: 384px;
}

#dockeditempanel .dockeditempanel_hd {
    background-color: #6f6f6f;
    border-bottom: 1px solid #fff;
    padding: 0.5em 1em;
}

#dockeditempanel .dockeditempanel_hd .commands {
    display: inline;
    float: right;
    text-align: right;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: white;
    display: inline;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-shadow: none;
    text-transform: none;
}
#dock .dockedtitle{
    width:30px;
}

#dock .dockedtitle:hover, #dock .dockedtitle:focus {
    background-position: 0 0px;
    color: #333;
    width:42px;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: #00699e;
    background-image: linear-gradient(to bottom, #5cab1f, #55c0d5);
    background-repeat: repeat-x;
    color: #fff;
    text-decoration: none;
}